<section class="main-container fadeout-all ProjectContainer" data-ng-controller="ProjectController">
	<section class="row-fluid first-page overlay-page">
		 <h1 class="large-title">
	    	About me
	    	<span class="my-description">A few words describing the person behind the selected projects</span>
	    </h1>
  	<section class="scroll-down-container secondary-page-scoll-down-container autoScrollToContent" data-location="second-page">
    	<img class="scroll-down-arrow" src="img/arrow-down.png" alt="Scroll down"/>
    </section>
	</section>
	<section class="row-fluid first-page about-page">
	  <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    <!--<section>
	        <p data-ng-hide="authentication.user">Login or signup to access the curd application.</p>
	        <p data-ng-show="authentication.user">Welcome to your account MEAN account</p>
	    </section>-->
	  </section>
	</section>

	<section class="row-fluid second-page" id="second-page">
		<section class="col-xs-12 col-sm-12 col-md-6 col-lg-6 default-container secondary-page-container">
			<h2 class="project-title about-project-title">
	    	Dan Mindru
	    	<span class="my-description">Aarhus, Denmark</span>
	    </h2>
	    <p class="description-text default-paragraph">3 years ago I wrote a description of myself that I thought shows how I am as a professional. To this date, no matter how hard I try, I still can't make a better one. Here goes:</p>
		</section>

		<section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-md-offset-2 col-lg-offset-2">
			<figure class="my-photo">
	  		<img class="my-photo" src="../img/mindrudan.png" alt="Mindru Dan"/>
	  	</figure>
		</section>

		<article class="col-xs-12 col-sm-12 col-md-6 col-lg-6 default-container">
	    <h2 class="about-title">Feeling</h2>
	    <p class="about-paragraph">I consider myself to be a combination between a perfectionist, analyst and organizer. I often give too much attention to details. This results in overwork, but I do like a challenge. Challenges are based on problems and problems are always where I begin. As a designer I believe that the foundation of every project is a well defined problem. As a programmer I know every problem can be solved and my aim is to do it in an efficient way. There is no innovation if it doesn’t solve a problem, no creativity if it doesn’t find an original solution to do so.</p>

      <h2 class="about-title">Purpose</h2>
      <p class="about-paragraph">It often happens that I just know my ideas are right. Think about it. It happens to all of us. If you have to take a decision that will influence your business or career, you just feel it is the right one. This feeling will come sooner or later, you just have to listen to it.</p>

      <h2 class="about-title">Love</h2>
      <p class="about-paragraph">I very rarely find design that has a mind-boggling grab of my visual senses. We all fall in love. Some are able to just fall in love with people, some with objects, and some with both. I fall in love with design.</p>
	  </article>
	  <aside class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-md-offset-2 col-lg-offset-2 default-container">
	  	<a target="_blank" class="contact-link about-link" href="http://danmind.ru/cv.pdf">Download CV</a>
	  	<a target="_blank" class="contact-link about-link" href="http://fadeit.dk">fadeit</a>
	  	<a target="_blank" class="contact-link about-link" href="http://becausenobody.com">becausenobody</a>
	  	<a target="_blank" class="contact-link about-link" href="http://givelife.dk">Givelife</a>
	  	<a target="_blank" class="contact-link about-link" href="https://www.facebook.com/MindruDanMultimedia">Facebook</a>
	  	<a target="_blank" class="contact-link about-link" href="http://www.twitter.com/mindrudan">Twitter</a>
	  </aside>

		<default-footer></default-footer>
	</section>
</section>