<section class="main-container fadeout-all ProjectContainer" data-ng-controller="ProjectController">
	<section class="row-fluid first-page overlay-page">
	  <section class="front-page-container">
	  	<section class="row-fluid first-page about-page">
			  <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			  </section>
			</section>

	  	<section class="front-page-table-display">
		  	<section class="front-page-text col-xs-12 animated fadeInUp" data-delay="1s" data-wow-duration="2s">
			    <h1 class="large-title">
			    	About me
			    	<span class="my-description">Living in Aarhus, Denmark as an experience designer at <strong>fadeit</strong>, writing a bachelor project about AngularJS and watching F1 every second Sunday</span>
			    </h1>
			  </section>
			</section>

			<section class="scroll-down-container autoScrollToContent" data-location="second-page">
	    	<img class="scroll-down-arrow" src="img/arrow-down.png" alt="Scroll down"/>
	    </section>
	  </section>
	</section>

	<section class="row-fluid second-page" id="second-page">
		<section class="default-container secondary-page-container">
			<h2 class="project-title about-project-title">
	    	Dan Mindru
	    	<span class="my-description">Born in Bacau, Romania</span>
	    </h2>
	  </section>

	  <section class="default-container">
	  		<img class="about-photo" src="../img/mindrudan_new.jpg" alt="Mindru Dan"/>
		</section>

		<section class="default-container">
	    <p class="description-text default-paragraph">A few years ago I came up with a description that (back then) I thought sums me up as a professional. It very much stands today, so here goes:</p>
		</section>

		<article class="default-container about-container">
	    <h2 class="about-title">Explore</h2>
	    <p class="about-paragraph">I consider myself to be a combination between a perfectionist, analyst and organizer. I often give too much attention to details. This results in overwork, but I do like a challenge. Challenges often rise from big problems and problems are always where I begin. As a designer I believe that the foundation of every project is a well defined problem. As a programmer I know every problem can be solved and my aim is to acomplish that in an efficient way. My belief is that if you truly solve a problem efficiently, you become an innovator.</p>

      <h2 class="about-title">Feel</h2>
      <p class="about-paragraph">It sometimes happens that I just know my ideas are right. Think about it. It happens to all of us. If you have to take a decision that will influence your business or career, you just feel it is the right one. This feeling will come sooner or later, you just have to listen to it. I get this feeling with my work and when it happens: there is nothing that can stop me.</p>

      <h2 class="about-title">Love</h2>
      <p class="about-paragraph">I rarely find design that has a mind-boggling grab of my visual senses. If you ever designed anything in your life, you will understand that through my eyes my own work will never seem to be impressive. Therefore, I like to look to explore and find good design. We all fall in love. Some are able to just fall in love with people, some with plain objects, and some with both. I fall in love with design.</p>
	  </article>
	  <aside class="default-container clearfix">
	  	<a target="_blank" class="contact-link about-link" href="http://danmind.ru/cv.pdf">Download CV</a>
	  	<a target="_blank" class="contact-link about-link" href="https://www.linkedin.com/profile/view?id=145370248">Linkedin</a>
	  	<a target="_blank" class="contact-link about-link" href="http://fadeit.dk">fadeit</a>
	  	<a target="_blank" class="contact-link about-link" href="https://www.facebook.com/MindruDanMultimedia">Facebook</a>
	  	<a target="_blank" class="contact-link about-link" href="http://www.twitter.com/mindrudan">Twitter</a>
      <a target="_blank" class="contact-link about-link" href="https://github.com/dandaniel">Github</a>
	  </aside>

		<default-footer></default-footer>
	</section>
</section>