 <!-- footer -->
  <footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12 default-container footer-container">
	  <p class="footer-text">
	  	Copyright © Dan Mindru 
	  	<a target="_blank" class="contact-link default-footer-link" href="mailto:mindrudan@gmail.com">mindrudan@gmail.com</a>
	  	<a target="_blank" class="contact-link default-footer-link" href="http://twitter.com/mindrudan">@mindrudan</a>
	  	<a class="contact-link default-footer-link" href="about">About</a>
	  	<a class="contact-link default-footer-link" href="/">Home</a>
	  </p>
  </footer>
  <!-- end footer -->