<div class="main-container" data-ng-controller="HomeController">
	<section class="row-fluid first-page">
	  <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    <h1 class="large-title">
	    	Hello
	    	<span class="my-description">My name's Dan and I am a passionate front-end developer living in Aarhus, Denmark</span>
	    </h1>
	    <section class="scroll-down-container">
	    	<img class="scroll-down-arrow" src="img/arrow-down.png" alt="Scroll down"/>
	    </section>
	    <!--<section>
	        <p data-ng-hide="authentication.user">Login or signup to access the curd application.</p>
	        <p data-ng-show="authentication.user">Welcome to your account MEAN account</p>
	    </section>-->
	  </section>
	</section>

	<section class="row-fluid second-page">
		<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 default-container">
	    <h2 class="normal-title">Projects dear to my heart</h2>
	  </section>

	  <section class="col-xs-12 col-sm-6 col-md-12 col-lg-12 default-container">
	    <p class="description-text default-paragraph">I am honored to present to you some of my dearest projects, done with people I admire and appreciate. For some, only prototypes are available, mainly due to legal agreements or access rights. Others can be seen in full glory by visting the live application.</p>
	  </section>

	  <!--projects -->
	  <section class="col-xs-12 col-sm-6 col-md-4 col-lg-4 title-container projects-container project-1">
		  <section href="projects/portal" class="projects ProjectLink">
		  	<img class="project-image" src="../img/portal.jpg" alt="Project by Dan Mindru"/>
		  	<section class="image-cover">Portal</section>
		  	<!--<span class="project-description">
			  	iPinion b2b portal<br/>
			  	<a class="default-link" href="http://danmind.ru/portal/main" target="_blank">danmind.ru/portal/main</a>
			  </span>-->
			</section>
	  </section>

	  <section class="col-xs-12 col-sm-6 col-md-4 col-lg-4 title-container projects-container project-2">
		  <section href="projects/ibog" class="projects ProjectLink">
		  	<img class="project-image" src="../img/ibog.jpg" alt="Project by Dan Mindru"/>
		  	<section class="image-cover">iBog</section>
		  	<!--<span class="project-description">
			  	iBog (iBook)<br/>
			  	<a class="default-link" href="http://danmind.ru/ibog" target="_blank">danmind.ru/ibog</a>
			  </span>-->
			</section>
	  </section>

	  <section class="col-xs-12 col-sm-6 col-md-4 col-lg-4 title-container projects-container project-3">
	  	<section href="projects/yellowoffice" class="projects ProjectLink">
		  	<img class="project-image" src="../img/yellowoffice.jpg" alt="Project by Dan Mindru"/>
		  	<section class="image-cover">Yellow Office</section>
		  	<!--<span class="project-description">
			  	Yellow Office architecture<br/>
			  	<a class="default-link" href="http://yellowoffice.ro" target="_blank">yellowoffice.ro</a> &
			  	<a class="default-link" href="http://archi-polis.com" target="_blank">archi-polis.com</a>
			  </span>-->
			</section>
	  </section>

	  <section class="col-xs-12 col-sm-6 col-md-4 col-lg-4 title-container projects-container project-4">
	  	<section href="projects/verdo" class="projects ProjectLink">
		  	<img class="project-image" src="../img/verdo.jpg" alt="Project by Dan Mindru"/>
		  	<section class="image-cover">Verdo</section>
		  	<!--<span class="project-description">
			  	Verdo<br/>
			  	<a class="default-link" href="http://danmind.ru/verdo" target="_blank">danmind.ru/verdo</a>
			  </span>-->
			</section>
	  </section>

	  <section class="col-xs-12 col-sm-6 col-md-4 col-lg-4 title-container projects-container project-5">
	  	<section href="projects/vink" class="projects ProjectLink">
		  	<img class="project-image" src="../img/vink.jpg" alt="Project by Dan Mindru"/>
		  	<section class="image-cover">Vink</section>
		  	<!--<span class="project-description">
			  	Vink Aarhus & Copenhagen<br/>
			  	<a class="default-link" href="http://vinkaarhus.com" target="_blank">vinkaarhus.com</a> & <a class="default-link" href="http://vinkkbh.com" target="_blank">vinkkbh.com</a>
			  </span>-->
			</section>
	  </section>

	  <section class="col-xs-12 col-sm-6 col-md-4 col-lg-4 title-container projects-container project-6">
	  	<section href="projects/easytv" class="projects ProjectLink">
		  	<img class="project-image" src="../img/easytv.jpg" alt="Project by Dan Mindru"/>
		  	<section class="image-cover">EasyTV</section>
		  	<!--<span class="project-description">
		  		EasyTV<br/>
		  	</span>-->
		  </section>
	  </section>
	  <!-- end projects -->

	  <!-- more about -->
	  <!--
	  <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 default-container">
	    <h2 class="normal-title second-title">More about me</h2>
	    <p class="description-text default-paragraph">3 years ago I wrote a description for how I see myself as a professional. To this date, no matter how hard I try, I still can't change it:</p>

	    <h2 class="about-title">Feeling</h2>
	    <p class="about-paragraph">I consider myself to be a combination between a perfectionist, analyzer and organizer. I often give too much attention to details. This results in overwork, but I do like a challenge. Challenges are based in problems and problems are always where I begin. As a designer I believe that the foundation of every project is a well defined problem. As a programmer I believe ever problem can be solved. Lastly, I believe there is no innovation if it doesn’t solve a problem, no creativity if it doesn’t find an original solution to do so.</p>

      <h2 class="about-title">Purpose</h2>
      <p class="about-paragraph">It often happens that I just know my ideas are right. Think about it. It happens to all of us. If you have to take a decision that will influence your business or career, you just feel it is the right one. This feeling will come sooner or later, you just have to listen to it.</p>

      <h2 class="about-title">Love</h2>
      <p class="about-paragraph">I very rarely find design that has a mind-boggling grab of my visual senses. We all fall in love. Some are able to just fall in love with people, some with objects, and some with both. I fall in love with design.</p>
	  </section>
	  -->
	  <!-- more about -->

	  <!-- footer -->
	  <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 default-container footer-container">
	  <p class="footer-text">Copyright © Dan Mindru <a class="contact-link" href="mailto:mindrudan@gmail.com">mindrudan@gmail.com</a></p>
	  </section>
	  <!-- end footer -->
	</section>
</div>