<div class="main-container" data-ng-controller="ProjectController">
	<section class="row-fluid first-page portal-project">
	  <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    <h1 class="large-title">
	    	Portal
	    	<span class="my-description">A management client for B2B customers in the telco industry</span>
	    </h1>
	    <section class="scroll-down-container">
	    	<img class="scroll-down-arrow" src="img/arrow-down.png" alt="Scroll down"/>
	    </section>
	    <!--<section>
	        <p data-ng-hide="authentication.user">Login or signup to access the curd application.</p>
	        <p data-ng-show="authentication.user">Welcome to your account MEAN account</p>
	    </section>-->
	  </section>
	</section>

	<section class="row-fluid second-page">
		<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 default-container">
		    <h2 class="normal-title">Intro</h2>
		  </section>
	</section>
</div>