<section class="main-container fadeout-all ProjectContainer" data-ng-controller="ProjectController">
	<section class="row-fluid first-page overlay-page">
  	<section class="scroll-down-container">
    	<img class="scroll-down-arrow" src="img/arrow-down.png" alt="Scroll down"/>
    </section>
	</section>
	<section class="row-fluid first-page verdo-project">
	  <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	  </section>
	</section>

	<section class="row-fluid second-page">
		<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 default-container">
			<h2 class="project-title">
	    	Portal
	    	<span class="my-description">A management client for B2B customers in the telco industry</span>
	    </h2>
		</section>

		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 default-container">
	    <h2 class="normal-title second-title">
	    	Title</h2>
	    <p class="description-text default-paragraph">
	    	Text area
	    </p>
	  </article>

	  <default-footer></default-footer>
	</section>
</section>