<section class="main-container fadeout-all ProjectContainer" data-ng-controller="ProjectController">
	<section class="row-fluid first-page overlay-page">
  	<section class="scroll-down-container autoScrollToContent" data-location="second-page">
    	<img class="scroll-down-arrow" src="img/arrow-down.png" alt="Scroll down"/>
    </section>
	</section>
	<section class="row-fluid first-page verdo-project">
	  <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	  </section>
	</section>

	<section class="row-fluid second-page" id="second-page">
		<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 project-top-container verdo-page">
			<h2 class="project-title">
	    	Verdo
	    	<span class="my-description">
	    		A redesign for simplicity and organized content
	    	</span>
	    </h2>
		</section>

		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 default-container">
			<section class="project-link-container">
			  <a class="default-link" href="http://danmind.ru/verdo" target="_blank">Verdo responsive prototype</a>
			</section>

			<h3 class="normal-title second-title">Introduction</h3>
	    <p class="default-paragraph">		
			This project covered the redesign concept development and protoyping of Verdo's web ecosystem. Among hundreds of pages and a mess of contact information, Verdo was built on an information architecture that can't handle the scale of it's content any longer. The redesign initiative is focusing on expanding the entire ecosystem to mobile devices, which were not even considered to this point.
			</p>

			<h3 class="normal-title second-title">Color scheme and logo</h3>
			<section class="default-paragraph with-images">
				<p class="default-paragraph">
					
				</p>

				<section class="zoom-image enlargableImage">
					<img alt="S-book" src="../img/projects/ibook/22-plus-23-mobile-screen.png" class="regular-image"/>
				</section>
			</section>

			<section class="project-link-container ending-links">
				<p><strong>Tech tags:</strong> HTML5, CSS3, JavaScript</p>
		    <a class="default-link" href="http://danmind.ru/verdo" target="_blank">Verdo responsive prototype</a>
			</section>
	  </article>

	  <default-footer></default-footer>
	</section>
</section>