<section class="main-container fadeout-all ProjectContainer" data-ng-controller="ProjectController">
	<section class="row-fluid first-page overlay-page">
  	<section class="scroll-down-container">
    	<img class="scroll-down-arrow" src="img/arrow-down.png" alt="Scroll down"/>
    </section>
	</section>
	<section class="row-fluid first-page vink-project">
	  <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	  </section>
	</section>

	<section class="row-fluid second-page">
		<section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 project-top-container vink-page">
			<h2 class="project-title">
	    	Vink Aarhus & Vink Copenhagen
	    	<span class="my-description">
	    		A small blogging system to delight
	    	</span>
	    </h2>
		</section>

		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 default-container">
			<section class="project-link-container">
			    <a class="default-link" href="http://vinkaarhus.com" target="_blank">vinkaarhus.com</a> &#38
					<a class="default-link" href="http://vinkkbh.com" target="_blank">vinkkbh.com</a>
			</section>
			<!--
	    <h2 class="normal-title second-title">
	    	Title</h2>-->
	    <p class="description-text default-paragraph">
	    	Hi there. I will be testing the website for a while before posting more information about each project. <br/>Be sure to come back soon!
	    </p>
	  </article>

	  <default-footer></default-footer>
	</section>
</section>