extends layout

block content
  h1= title
  p Updates are coming soon, please be patient. Contact email:
   | <a href='mailto:mindrudan@gmail.com'>mindrudan@gmail.com</a>
  br
  br
  p#poweredBy(class='alert alert-success') Powered by nodejs. 
  br
  br
  div#userList