body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#userList{
	margin-top:200px;
}

.a-name{
	font-size:12px;
	margin-top:10px;
	display:block;
}

#poweredBy{
	width:160px;
}